		#text1 {
			text-align: center;
		}
		
		#color1 {
			color: red;
		}
		
		#color2 {
			color: orange;
		}
		
		#color3 {
			color: yellow;
		}
		
		#color4 {
			color: lightgreen;
		}
		
		#color5 {
			color: green;
		}
		
		#color6 {
			color: blue;
		}
		
		#color7 {
			color: purple;
		}
		
		#color8 {
			color: white;
		}
		
		p {
		  font-size: 16px;
		  line-height: 2em;
		}
		
		span {
		     font-size: 2ex;
		}
		
		h1 {
			text-decoration: underline overline dotted red;
		}

		
		h2 {
			text-shadow: 2px 2px #3399FF;
		}

		
		
		